[submodule "src/site-management"]
	path = src/site-management
	url = https://github.com/toannv6895/site-management.git
[submodule "src/user-management"]
	path = src/user-management
	url = https://github.com/toannv6895/user-management.git
[submodule "src/lambda-authorizer"]
	path = src/lambda-authorizer
	url = https://github.com/toannv6895/lambda-authorizer.git
[submodule "src/lambda-cognito-auth"]
	path = src/lambda-cognito-auth
	url = https://github.com/toannv6895/lambda-cognito-auth.git
